.nav-link.active {
    background-image: linear-gradient(to right, #BD0087, #5A0241);
    background-repeat: repeat-x;
    --bs-nav-pills-border-radius: 50px;
}

.my_navbar {
    padding: 0px 50px 0px 50px;
    height: 50px;
}




footer {
    padding: 20px;
    background-color: #efd9fd;
    margin-top: 20px 0px 0px 0px;
}

.my_list_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-serv {
    flex: 1 200px;
    margin: 10px;
}

.card-body {
    padding: 0px;
}

.card-body_img {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body_img::after {
    content: "";
    /* Create an after pseudo-element */
    position: absolute;
    /* Position the pseudo-element absolutely */
    top: 0;
    /* Position to the top of the parent container */
    left: 0;
    /* Position to the left of the parent container */
    width: 100%;
    /* Span the full width of the parent container */
    height: 100%;
    /* Span the full height of the parent container */
    background-image: linear-gradient(to top, rgba(189, 0, 135, 0.7), rgba(255, 255, 255, 0));
    /* Define the linear gradient */
    background-blend-mode: overlay;
    /* Overlay the gradient on top of the image */
}

.card-body_img img {
    height: 150px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.img-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-mas {
    width: 100%;
}

.btn-index {
    margin: 20px;
}

.nav-link {
    color: gray;
}

#pills-tab {
    padding: 10px 20px 10px 20px;
    border: gray solid 1px;
    border-radius: 50px;
}

.tab-pane {
    padding: 0px 150px 0px 150px;
}





.jumbotron_1 {
    background-color: transparent;
    color: black;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    font-size: 2em;
    font-family: "Roboto", sans-serif !important;
}

.jumbotron_2 {
    background-color: transparent;
    color: black;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    font-size: 2em;
    font-family: "Roboto", sans-serif !important;
    position: absolute;
    margin-top: 50px;
    width: 80%;
}

.banner_event {
    margin: 10px 0px 10px 0px;
}

.banner_event img {
    aspect-ratio: 3/1;
    width: 100%;
    box-shadow: 8px 9px 6px -6px #00000070;
    border-radius: 5%;
}

.card-group_event {
    background-color: #dfe66b !important;
    padding: 10px;
}

.card_event {
    border: none !important;
    background-color: transparent;
    flex-direction: row;
    gap: 20px;
}

.my_card-img-top {
    height: 45px;
}

.event_icon {
    font-size: 40px !important;
}

.card-body_event {
    width: 80% !important;
}

.event-files {
    border-top: 1px solid #999;
    margin-top: 2em;
    padding-top: 1em;
}